body {
    background-color: #42f4b3;
}

.indentation {
    margin-top: 70px;
    margin-left: 60px; 
}

#almostthere {
    font-size: 55px; 
    color: white; 
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.signin {
    width: 70px;
    height: 30px;
    border-radius: 6px;
    background-color: #42f4b3;
    border: 1px solid black; 
}

.existingaccount { 
    margin-left: 1650px;
    margin-top: -50px;
}

#logo {
    margin-top: 35px;
    margin-left: 60px; 
    font-size: 30px; 
    color: #42f4b3; 
    font-style: italic; 
    text-shadow: -4px 0 black, 0 4px black, 4px 0 black, 0 -4px black; 
}

#firstname {
    width: 400px;
    height: 50px;
    font-size: 30px;
}

.date {
    width: 130px; 
    height: 50px;
    font-size: 17px; 
}

#continue {
    width: 130px;
    height: 50px; 
    font-size: 17px; 
    background-color: #837f7e;
    color: white;
}
