body {
    background-color: #b981d1;
}

#logo {
    margin-top: 45px; 
    margin-left: 60px; 
    font-size: 30px; 
    color: #b981d1; 
    font-style: italic;
    text-shadow: -4px 0 white, 0 4px white, 4px 0 white, 0 -4px white;
}
