body {
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    background-color:#42f4b3;
}

.catPic {
    position: absolute; 
    top: 180px; 
    right: 20px;
}

#logo {
    position: absolute;
    left: 60px; 
    top: 35px;
    font-size: 30px;
    color: #42f4b3;
    font-style: italic; 
    text-shadow: -4px 0 black, 0 4px black, 4px 0 black, 0 -4px black; 
}

#datingsite {
    position: absolute; 
    top: 100px;
    left: 60px;
    font-size: 55px;
    color: white; 
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black; 
}

#description {
    position: absolute;
    left: 60px;
    top: 200px;
    font-size: 40px; 
}

#customize {
    position: absolute;
    left: 60px; 
    top: 500px;
}

.catHeart {
    float:right;

}

#sex {
    width: 130px;
    height: 50px;
    font-size: 17px;
}

#gender {
    width: 130px;
    height: 50px;
    font-size: 17px; 
}

#continue {
    width: 115px;
    height: 50px; 
    border-radius: 6px; 
    font-size: 17px;
    background-color: #837f7e;
    opacity: .95;
    color: white; 
}

.signin {
    width:70px;
    height:30px;
    border-radius: 6px;
    background-color: #42f4b3;
    border: 1px solid black;
}   

.existingaccount {
    position: absolute; 
    top: 45px; 
    right: 70px; 
}

#createContainer {
    background: #42f4b3;
}   

#catTalesContainer {
    background-color: #5f6e87;
}

#catTalesTitle {
    text-align: center;
    font-size: 125px;
    color: white;
    font-style: italic;
    padding: none;
}

.LeftQuotes {
    margin-left: 60px; 
    color:white;
    font-size: 50px;
}

.LeftStories {
    margin-left: 60px;
    color: white; 
    font-size: 50px; 
}

.RightQuotes {
    margin-left: 1000px; 
    color: white;
    font-size: 50px;
}   

.RightStories {
    margin-left: 1000px; 
    color: white;
    font-size: 50px;
}

.austinCat {
    position: absolute;
    top: 1300px;
    right: 90px;
}  

.kayakoCat {
    position:absolute;
    top: 1900px;
    left: 130px; 
}

.laurenCat {
    position: absolute;
    top: 2200px;
    right: 300px;
}

.emilyCat {
    position: absolute;
    top: 2900px; 
    left: 130px; 
}
