body {
    background-color: #b981d1;
}

#logo {
    margin-top: 45px; 
    margin-left: 60px; 
    font-size: 30px; 
    color: #b981d1;
    font-style: italic;
    text-shadow: -4px 0 white, 0 4px white, 4px 0 white, 0 -4px white;
}

.existingaccount {
    margin-left: 1650px;
    margin-top: -40px; 
    color: white; 
}

.signin {
    width: 70px; 
    height: 30px; 
    color: white;
    border-radius: 6px; 
    background-color: #b981d1; 
    border: 1px solid white; 
}

.indentation {
    margin-top: 70px; 
    margin-left: 60px;
}

#profileEdit {
    margin-top: -3000px;
    margin-left: 185px;
}

#nameEdit {
    width: 300px;
    height: 50px; 
    margin-top: -680px; 
    margin-left: 250px;
    font-size: 20px;
}

#bioEdit {
    width: 1600px; 
    height: 400px;
    margin-left: 0px;
    margin-top: 200px; 
    font-size: 50px;
}

#catFactEdit {
    width: 700px; 
    height: 75px;
    margin-left: 0px; 
    margin-top: -550px;
    font-size: 30px;
}

